<%= render :partial => '/experiences/header' %>

<h2>Invite these people to this experience</h2><br/><br/>

<fieldset>
  <legend>Uncheck people to remove them from the invite</legend>

  <%= form_for :invite, :url => go_invites_path, :method => :post do %>
    <input type="hidden" name="experience" value="<%= @experience.id %>"/>

    <table class="invite">
    <% @users.each do |u| %>
      <tr>
        <th><input type="checkbox" name="u[]" value="<%= u.id %>" checked="checked"/></th>
        <td><%= render u %></td>
      </tr>
    <% end %>

    <% @emails.each do |e| %>
      <tr>
        <th><input type="checkbox" name="e[]" value="<%= e %>" checked="checked"/></th>
        <td><h2><%= e %></h2></td>
      </tr>
    <% end %>
    </table>

    <p>Note: You will receive a copy of all invite emails as we test the system.</p>
    <%= submit_tag :invite %>
  <% end %>

</fieldset>