<%= render :partial => '/experiences/header' %>

<h2>Invite others to <%= @experience.blank? ? 'Snappitt' : 'join experience #%s' % @experience.id %></h2>

<fieldset>
  <legend>Enter email addresses and Snappitt usernames to invite</legend>

  <%= form_for @invite do |i| %>
    <input type="hidden" name="experience" value="<%= @experience.id %>"/>
    <%= text_area(:contact, :data, :size => '50x5', :style => 'height: auto; width: auto') %>
    <%= submit_tag(:invite) %>
  <% end %>

</fieldset>