<h1>Settings</h1>

<%= form_for @profile, :url => user_settings_path, :html => { :multipart => true } do |p| %>

  <%= fields_for(@profile.user) do |u| %>
  <fieldset>
    <legend>Account</legend>

    <ol>
      <li>
        <%= u.label :username %>
        <%= u.text_field :username, :readonly => true %>
        <span>You will be able to change this later</span>
      </li>

      <li>
        <%= u.label :email %>
        <%= u.text_field :email, :readonly => true %>
        <span>You will be able to change this later</span>
      </li>

      <li>
        <%= label :password, :new %>
        <%= password_field :password, :new, :value => '', :autocomplete => 'false' %>
        <span>Enter a new password here</span>
      </li>

      <li>
        <%= u.label :created_at %>
        <dfn><%= @profile.user.created_at.to_formatted_s(:mdy) %></dfn>
        <dfn>
          <%= link_to('(unconfirmed account)',
                      new_user_confirmation_path('user[email]' => @profile.user.email),
                      :class => 'unconfirmed') if @profile.user.confirmed? %>
        </dfn>
      </li>

      <li>
        <%= label :perms, :set %>
        <dfn><%= @profile.user.permissions.join(', ').titleize %></dfn>
      </li>
    </ol>

  </fieldset>
  <% end %>

  <fieldset>
    <legend><%= image_tag( @profile.photo_url, :alt => @user ) %>Profile</legend>

    <ol>
      <li>
        <%= fields_for :profile_photo do |a| %>
          <%= a.label :data %>
          <%= a.file_field :data %>
        <% end %>
      </li>

      <li>
        <%= p.label :realname %>
        <%= p.text_field :realname %>
        <span>Helps others to find you</span>
      </li>

      <li>
        <%= p.label :birthday %>
        <%= p.date_select :birthday, :start_year => 1925, :end_year => Time.now.year, :default => Time.now - 20.years %>
      </li>

      <li>
        <%= fields_for :hometown, @profile.hometown do |h| %>
          <%= h.label :name %>
          <%= h.text_field :name %>
        <% end %>
        <span><%= '%s, %s' % [@profile.hometown.lat, @profile.hometown.lng] if @profile.hometown.try(:lat) %></span>
      </li>

      <li>
        <%= p.label :bio %>
        <%= p.text_field :bio %>
      </li>

      <li>
        <%= p.label :gender %>
        <%= p.select :gender, {'Yes!' => 'X','Guy' => 'M','Girl' => 'F'}, :include_blank => true %>
      </li>
    </ol>

  </fieldset>

  <p class="submit"><%= submit_tag 'Save Changes' %></p>

  <fieldset>
    <legend>Login Security</legend>
    <p>You've logged in <var><%= current_user.sign_in_count %></var> times!</p>
    <p>Current login at <var><%= current_user.current_sign_in_at %></var> from <var><%= current_user.current_sign_in_ip %></var></p>
    <p>Previous login at <var><%= current_user.last_sign_in_at %></var> from <var><%= current_user.last_sign_in_ip %></var></p>
    <p><%= request.env['HTTP_USER_AGENT'] %></p>
  </fieldset>

<% end %>