<h1>Settings</h1>

<%= form_for @profile, :url => user_settings_path, :html => { :multipart => true } do |p| %>

  <fieldset>
    <legend>Account</legend>

    <ol>
      <li<%= ' class="error"'.html_safe unless @user_username.errors.empty? %>>
        <%= label :user, :username %>
        <%= text_field :user, :username, :value => @user_username.username, :autocomplete => 'off' %>
        <span>Must be unique on Snappitt</span>
      </li>

      <li<%= ' class="error"'.html_safe unless @user_email.errors.empty? %>>
        <%= label :user, :email %>
        <%= text_field :user, :email, :value => @user_email.email, :autocomplete => 'off' %>
        <span>Must be unique on Snappitt</span>
      </li>

      <li<%= ' class="error"'.html_safe unless @user_email.errors.empty? %>>
        <%= label :password, :new %>
        <%= password_field :password, :new, :value => '', :autocomplete => 'off' %>
        <span>Enter a new password here</span>
      </li>

      <li>
        <%= label :user, :created_at %>
        <dfn><%= @profile.user.created_at.to_formatted_s(:mdy) %></dfn>
        <dfn>
          <%= link_to('(unconfirmed account)',
                      new_user_confirmation_path('user[email]' => @profile.user.email),
                      :class => 'unconfirmed') unless @profile.user.confirmed? %>
        </dfn>
      </li>

      <li>
        <%= label :perms, :set %>
        <dfn><%= @profile.user.permissions.join(', ').titleize %></dfn>
      </li>
    </ol>

  </fieldset>

  <fieldset>
    <legend><%= image_tag( @profile.photo_url, :alt => @user ) %>Profile</legend>

    <ol>
      <li>
        <%= fields_for :profile_photo do |a| %>
          <%= a.label :data %>
          <%= a.file_field :data %>
        <% end %>
      </li>

      <li>
        <%= p.label :realname %>
        <%= p.text_field :realname %>
        <span>Helps friends to find you</span>
      </li>

      <li>
        <%= p.label :birthday %>
        <%= p.date_select :birthday, :start_year => Time.now.year, :end_year => 1925, :discard_month => true, :default => Time.now - 20.years, :include_blank => true %>
        <span><%= @profile.zodiac_chinese %></span>
      </li>

      <li>
        <%= p.label :zodiac_western_id %>
        <%= p.collection_select(:zodiac_western_id, Zodiac::Western.all, :id, :name, :include_blank => true) %>
        <span><%= @profile.zodiac_western %></span>
      </li>

      <li>
        <%= fields_for :hometown, @profile.hometown do |h| %>
          <%= h.label :name %>
          <%= h.text_field :name %>
        <% end %>
        <span><%= '%s, %s' % [@profile.hometown.lat, @profile.hometown.lng] if @profile.hometown.try(:lat) %></span>
      </li>

      <li>
        <%= p.label :bio %>
        <%= p.text_area :bio %>
        <span>Short description of you</span>
      </li>

      <li>
        <%= p.label :gender %>
        <%= p.select :gender, {'Guy' => 'M','Girl' => 'F'}, :include_blank => true %>
      </li>
    </ol>

  </fieldset>

  <a name="email"></a>
  <fieldset>
    <legend>Email Notifications</legend>
    <p>Send me an email notification when others...</p>
    <ol>
      <li>
        <%= check_box(:dont_notify_for, :add, {:checked => @profile.can_email?('Moment::CreateCause')}, '', 'Moment::CreateCause') %>
        <strong>Add a Moment</strong> to an Experience I've participated in
      </li>

      <li>
        <%= check_box(:dont_notify_for, :like, {:checked => @profile.can_email?('LikeFlag::CreateCause')}, '', 'LikeFlag::CreateCause') %>
        <strong>Like a Moment</strong> in an Experience I've participated in
      </li>

      <li>
        <%= check_box(:dont_notify_for, :comment, {:checked => @profile.can_email?('MomentComment::CreateCause')}, '', 'MomentComment::CreateCause') %>
        <strong>Comment on a Moment</strong> in an Experience I've participated in
      </li>

      <li>
        <%= check_box(:dont_notify_for, :publish, {:checked => @profile.can_email?('PublishFlag::CreateCause')}, '', 'PublishFlag::CreateCause') %>
        <strong>Publish a Moment</strong> in an Experience I've participated in
      </li>
    </ol>

  </fieldset>

  <p class="submit"><%= submit_tag 'Save Changes' %></p>

  <fieldset>
    <legend>Login Security</legend>
    <p>You've logged in <var><%= current_user.sign_in_count %></var> times!</p>
    <p>Current login at <var><%= current_user.current_sign_in_at %></var> from <var><%= current_user.current_sign_in_ip %></var></p>
    <p>Previous login at <var><%= current_user.last_sign_in_at %></var> from <var><%= current_user.last_sign_in_ip %></var></p>
    <p><%= request.env['HTTP_USER_AGENT'] %></p>
  </fieldset>

<% end %>