<h1>Settings</h1>

<% form_for @profile, :url => user_settings_path, :html => { :multipart => true } do |p| %>

  <%= p.label 'username', 'Username: %s' % @profile.user.username %>
  <%= p.label 'email', 'Email: %s' % @profile.user.email %>
  <%= p.label 'joined', 'Joined: %s' % @profile.user.created_at.to_formatted_s(:mdy) %>

  <%= label :password, :new, 'New Password:' %>
  <%= password_field :password, :new %>

  <br/><br/>

  <%= fields_for :asset do |a| %>
    <%= a.label :data, 'Profile Picture:' %>
    <%= a.file_field :data %>
  <% end %><br/><br/>

  <%= image_tag( @profile.photo_url ) %><br/>

  <%= p.label 'realname', 'Nickname:' %>
  <%= p.text_field :realname %><br/><br/>

  <%= p.label 'birthday', 'Birthday:' %>
  <%= p.date_select :birthday, :start_year => 1925, :end_year => Time.now.year, :default => Time.now - 20.years %><br/><br/>

  <%= p.fields_for :hometown do |h| %>
    <%= h.label 'name', 'Hometown:' %>
    <%= h.text_field :name %><br/><br/>
  <% end %>

  <%= p.label 'bio', 'Introduction:' %>
  <%= p.text_field :bio %><br/><br/>

  <%= p.label 'gender_m', 'Guy:' %>
  <%= p.radio_button :gender, 'm' %><br/>
  <%= p.label 'gender_f', 'Girl:' %>
  <%= p.radio_button :gender, 'f' %><br/>

  <br/>

  <%= submit_tag 'Update Profile' %>

  <br/><br/>

  <fieldset>
    You've logged in <%= current_user.sign_in_count %> times!<br/>
    Current login  at <%= current_user.current_sign_in_at %> from <%= current_user.current_sign_in_ip %><br/>
    Previous login at <%= current_user.last_sign_in_at %> from <%= current_user.last_sign_in_ip %><br/>
    Using <%= request.env['HTTP_USER_AGENT'] %>
  </fieldset>

<% end %>