<div id="page_footer_box">

<p class="links">
  <%= footer_links.join(' | ').html_safe %><br/>
  <%= t('footer.developed_in') %>
</p>

<dl class="stats">
  <dt><%= t('footer.moment_count')%> <%= Moment.count %></dt>
  <% if current_user.try(:admin?) %>
  <dt><%= t('footer.user_count')%> <%= User.count %></dt>
  <% end %>
</dl>

</div>

<% if Rails.env != 'production' %>
  <h3>ToDo:</h3>
  remove what and where from upload,
  change like to drop-down,
  temporary collaborators in feed,
  feed is only followers and events,
  notification links in email,
  create events with custom email prefix,
  profile.realname = contact.name
  change experience title,
  tag people - also triggers an invite,
  facebook share,
  twitter share,
  wrap whole create process in a transaction,
  user search,
  more language localization
<% end %>