<h1><%= t('app.name') %></h1>

<% @in = user_signed_in? %>

<ul>
 <li>
   <a href="<%= root_path %>" class="home">
     <span><%= t('nav.home') %></span>
   </a>
 </li>
 <li>
   <a href="<%= @in ? user_path(current_user) : root_path %>" class="me">
     <span><%= t('nav.me') %></span>
   </a>
 </li>
 <li>
   <a href="<%= @in ? new_experience_path : root_path %>" class="upload">
     <span><%= t('nav.upload') %></span>
   </a>
 </li>
 <li>
   <a href="<%= @in ? user_network_path(current_user) : root_path %>" class="network">
     <span><%= t('nav.network') %></span>
   </a>
 </li>
 <li>
   <a href="<%= @in ? user_settings_path(current_user) : root_path %>" class="settings">
     <span><%= t('nav.settings') %></span>
   </a>
 </li>
</ul>

<% if @in %>

<div id="page_logout">
  <%= link_to t('nav.logout'), destroy_user_session_path %>
</div>

<% end %>