<div id="page_account"<%= ' class="welcome"'.html_safe if @welcome %>>
  <% if @welcome %>
  <h2><%= t('app.tagline') %></h2>
  <h3>Get started by emailing a photo to <a href="mailto:<%= t('email.post') %>"><%= t('email.post') %></a></h3>
  <% end %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <table class="signin">
    <tr>
      <td>
        <%= f.label :login %>
      </td>
      <td class="remember">
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        <% end %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.text_field :login, :placeholder => 'Username or Email' %>
        <%= f.password_field :password, :placeholder => 'Password' %>
        <%= f.submit t('sign.in') %>
      </td>
      <td class="side">
        <%= link_to "Signup!", new_user_registration_path %>
      </td>
    </tr>
  </table>
<% end %>

</div>