<div class="user_card">

  <div class="icon">
    <%= link_to(image_tag(user.profile.photo_url(:thumb),
                          :width => 48,
                          :height => 48,
                          :alt => user),
                user_path(user)) %>
  </div>

  <div class="info">
    <h2>
      <span><%= link_to(user, user_path(user)) %></span>
      <small><%= user.profile.realname_unless %></small>
      <% unless current_user == user || !user_signed_in? %>
        <% if current_user.follows(user) %>
          <%= link_to( t(:unfollow), user_follow_path(user, current_user), :class => 'button', :method => :delete) %>
        <% else %>
          <%= link_to( t(:follow), user_follow_index_path(user), :class => 'button', :method => :post)  %>
        <% end %>
      <% end %>
    </h2>
    <p><%= user.profile.bio.to_s unless user.profile.bio.blank? %></p>
    <dfn><%= '%s Experiences | %s Followers' % [user.experiences.size, user.followers.size] %></dfn>
  </div>

</div>