<%= render @user %>

<div id="main">
    <table class="feed"><tr><td><%= render @experiences %></td></tr></table>
</div>

<div id="secondary">
  <% if @user == current_user %>
  <div class="section activity">
    <h2>Notifications</h2>
    <ul>
      <% @user.notifications.each do |n| %>
        <li><%= n.cause.summary(Cause::Decorator.new(@user)) %><%= ' (new)' unless n.seen %></li>
        <% n.update_attribute(:seen, true) unless n.seen %>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="section activity">
    <h2>Recent Activity</h2>
    <ul>
      <% Cause.reject_deleted(Cause.for_user(@user)).each do |action| %>
        <li><%= action.summary(Cause::Decorator.new(@user)) %></li>
      <% end %>
    </ul>
  </div>

</div>

<br style="clear:both" />