<% experience_date = experience.updated_at.to_formatted_s(:mdy) %>
<% if @last_feed_date != experience_date; %>
  <h2 class="feed_date"><%= experience_date %></h2>
<% @last_feed_date = experience_date; end %>

<div class="experience_card">
  <ul>
    <li>Title: <%= link_to( experience.title, experience_path(experience)) %></li>
    <li>Image: <%= image_tag(experience.photo_url) %></li>
    <li>User: <%= experience.creator %></li>
    <li>Moments: <%= experience.moments.count %></li>
    <li>Views: <%= experience.view_count %></li>
    <li>Likes: <%#= experience.likes %></li>
    <li>Comments: <%= experience.comments.count %></li>
  </ul>
</div>