<% experience_date = experience.created_at.to_formatted_s(:mdy) %>
<% if @last_feed_date != experience_date; %>
  <h2 class="feed_date"><%= experience_date %></h2>
<% @last_feed_date = experience_date; end %>

<div class="experience_card">
  <div class="cover">
    <%= link_to( image_tag(experience.photo_url), experience_path(experience) ) %>
    <div class="user" style="background-image: url('<%=experience.creator.profile.photo_url %>')"></div>
    <div class="moments"><%= experience.moments_status %></div>
  </div>
  <h3><%= link_to( experience.title, experience_path(experience)) %></h3>
  <div class="stats">
    Views: <%= experience.views %> | Likes: <%= experience.likes.count %> | Comments: <%= experience.comments.count %>
  </div>
</div>