<% experience_date = experience.updated_at.to_formatted_s(:mdy) %>
<% if @last_feed_date != experience_date; %>
  <h2 class="feed_date"><%= experience_date %></h2>
<% @last_feed_date = experience_date; end %>

<div class="experience_card">
  <div class="cover">
    <%= image_tag(experience.photo_url) %>
    <div class="user"><%= experience.creator %></div>
    <div class="moments"><%= experience.moments_status %></div>
  </div>
  <h3><%= link_to( experience.title, experience_path(experience)) %></h3>
  <div class="stats">
    Views: <%= experience.view_count %> | Likes: <%#= experience.likes %> | Comments: <%= experience.comments.count %>
  </div>
</div>