<div class="experience_header">
  <div class="stats">
    <dfn class="views" title="Views"><span></span><var><%= @experience.views %></var></dfn>
    <dfn class="likes" title="Tags"><span></span><var><%= @experience.likes_count %></var></dfn>
    <dfn class="comments" title="Comments"><span></span><var><%= @experience.comments_count %></var></dfn><br>
  </div>

  <fieldset class="header">
    <legend>Experience #<%= @experience.id %>&nbsp;&nbsp;<small><%= link_to('(delete)', experience_path(@experience), :method => :delete, :confirm => 'Are you sure?') if can_edit?(@experience.user) %></small></legend>

    <div class="main">
      <h1><%= link_to(@experience.title, experience_path(@experience)) %></h1>

      <div class="details">
        <dfn><var><%= @experience.moments_count %></var> moments in this experience from&hellip;</dfn>
      </div>

      <div class="collaborators">
        <% @experience.collaborators.each do |c| %>
          <%= user_icon(c.user, :thumb)%>
        <% end %>
      </div>

      <div class="side">
        <div class="add">
          <span>Email more photos to</span>
          <h3><a href="mailto:<%= 'post%s@snappitt.com' % @experience.id %>"><%= 'post%s@snappitt.com' % @experience.id %></a></h3>
        </div>
      </div>

    </div>

  </fieldset>
</div>