<div class="grid">
<% @experience.moments.filo.each do |m| %>
  <% if m.asset.is_a?(VideoAsset) %>
    <video id="movie" width="320" height="240" preload="none" poster="<%= m.asset.screenshots.first %>" controls>
      <source src="<%= m.asset.encodings.find_by_profile_name('mp4') %>" type="video/mp4">
      <source src="<%= m.asset.encodings.find_by_profile_name('ogg') %>" type="video/ogg">
    </video>
  <% else %>
  <%= image_tag(m.photo_url(:avatar),
                :alt => '',
                :id => 'thumb_%s' % m.id ,
                :class => 'photo',
                :onclick => "$('m').show().update('<img src=\"#{SiteAssets[:loading]}\"/>'); new Ajax.Updater('m','#{one_experience_moment_url(@experience,m)}',{method: 'get'})") %>
   <% end %>
<% end %>
</div>

<div id="m">
  <h2>Choose an Image</h2>
</div>

<%= javascript_tag do %>
  var u = '<%= one_experience_moment_url(@experience,0) %>';
  if( location.hash ) u = u.replace('/0/','/'+location.hash.substr(1)+'/');
  else u = u.replace('/0/','/<%= @experience.cover.try(:id) %>/');
  $('m').show().update('<img src="<%= SiteAssets[:loading] %>"/>');
  new Ajax.Updater('m',u,{method: 'get'});
<% end %>

<div class="view">
  <%= link_to('View All', experience_path(@experience, :all => 1)) %>
</div>