<%= render :partial => '/experiences/header' %>

<h2>Editing Experience</h2>

<%= form_for @experience do |f| %>

  <fieldset class="form">
    <legend>Change...</legend>

    <ol>
      <li>
        <%= f.label :title %>
        <%= f.text_field :title, :disabled => (!@experience.event.blank?) %><br/>
        <%== '<span>Title set by attached Event</span>' if @experience.event %>
      </li>
      <li>
        <%= f.label :visibility %>
        <%= f.select :visibility, ['public','private','group'] %><span>todo: explain these =)</span>
      </li>
    </ol>
  </fieldset>

  <p class="submit"><%= submit_tag 'Save Changes' %></p>

  <fieldset class="form">
    <legend><%= image_tag( @experience.photo_url(:thumb), :alt => @experience.cover ) %>Change Cover Image</legend>
    <% @experience.moments.filo.each do |m| %>
       <%= link_to( image_tag(m.photo_url(:thumb)), cover_experience_moment_path(@experience, m)) %>
    <% end %>
  </fieldset>

  <fieldset class="form">
    <legend>Delete Moments</legend>
    <div id="m"></div>
    <% @experience.moments.filo.each do |m| %>
      <div id="thumb_<%= m.id %>">
        <%= image_tag(m.photo_url(:thumb)) %>
        <%= link_to('Delete',
                    experience_moment_path(@experience, m),
                    :method => :delete,
                    :remote => true,
                    :confirm => 'Are you sure?') %>
        <span id="moment_<%= m.id %>"></span>
      </div>
    <% end %>
  </fieldset>

  <fieldset class="form">
    <legend>Delete Experience</legend>
    <p>Removing this experience will delete all moments attached to it, including those uploaded by others.</p>
    <p class="submit">
      <%= link_to('Delete Experience', experience_path(@experience), :class => 'button', :method => :delete, :confirm => 'Are you sure?') if can_edit?(@experience.user) %>
    </p>
  </fieldset>

<% end %>