<h1>Upload</h1>

<fieldset class="upload">
  <legend>Via Email</legend>
  <h2><a href="mailto:post@snappitt.com">post@snappitt.com</a></h2>
  <p>Send an email with a subject and attached photos</p>
</fieldset>

<br/>

<fieldset class="upload">
  <legend>Via Form</legend>
  <%= form_for @moment, :url => experiences_path, :html => { :multipart => true } do |m| %>

    <%= fields_for :asset do |a| %>
      <%= a.label :data, 'Photo:' %>
      <%= a.file_field :data %>
    <% end %>

    <%= fields_for :thing do |t| %>
      <%= t.label 'name', 'What:' %>
      <%= t.text_field :name %><br/>
    <% end %>

    <%= fields_for :location do |l| %>
      <%= l.label 'name', 'Where:' %>
      <%= l.text_field :name %><br/>
    <% end %>

    <%= m.fields_for :caption do |c| %>
      <%= c.label 'text', 'Caption:' %>
      <%= c.text_area :text, :size => '50x2' %><br/>
    <% end %>

    <%#= fields_for :tags do |t| %>
      <%#= t.label 'people' %>
      <%#= t.text_field :people %><br/>
    <%# end %>

    <% last = Experience.by_user(current_user).first %>
    <% if last %>
      <input type="hidden" name="last_moment" value="<%= last.id %>" />
      <%= submit_tag('Add to last experience: %s' % last.title, :name => 'add_moment') %>
      <h2>or</h2>
    <% end %>

    <% grp = Experience.recent_groups.first %>
    <% if grp %>
      <input type="hidden" name="grp_moment" value="<%= grp.id %>" />
      <%= submit_tag('Add to group experience: %s' % grp.title, :name => 'add_grp_moment') %>
      <h2>or</h2>
    <% end %>

    <%= submit_tag 'Create New Experience' %>

    <%= fields_for :experience do |e| %>
      <%#= e.label 'title', 'Experience Title:' %>
      <%#= e.text_field :title %><br/>
    <% end %>

  <% end %>

</fieldset>

<br/><br/>