<h1>Upload</h1>

<fieldset class="upload_email">
  <legend>Via Email</legend>
  <h2><a href="mailto:<%= @upload_email %>?subject=<Enter a Title>"><%= @upload_email %></a></h2>
  <p>Send an email with a subject and attached photos</p>
</fieldset>

<br/>

<fieldset class="upload_form">
  <legend>Via Form</legend>
  <%= form_for @moment, :url => experiences_path, :html => { :multipart => true } do |m| %>

    <%= fields_for :asset do |a| %>
      <%= a.label :data, 'Photo:' %>
      <%= a.file_field :data %>
    <% end %>

    <%= m.fields_for :caption do |c| %>
      <%= c.label 'text', 'Caption:' %>
      <%= c.text_area :text, :size => '50x2' %><br/>
    <% end %>

    <%#= fields_for :tags do |t| %>
      <%#= t.label 'people' %>
      <%#= t.text_field :people %><br/>
    <%# end %>

    <% if @experience %>
      <input type="hidden" name="last_moment" value="<%= @experience.id %>" />
      <%= submit_tag('Add moment to experience: %s' % @experience.title, :name => 'add_moment') %>
      <h2>or</h2>
    <% else %>
      <% last = Experience.by_user(current_user).first %>
      <% if last %>
        <input type="hidden" name="last_moment" value="<%= last.id %>" />
        <%= submit_tag('Add to last experience: %s' % last.title, :name => 'add_moment') %>
        <h2>or</h2>
      <% end %>

      <% grp = Experience.recent_groups.first %>
      <% if grp %>
        <input type="hidden" name="grp_moment" value="<%= grp.id %>" />
        <%= submit_tag('Add to group experience: %s' % grp.title, :name => 'add_grp_moment') %>
        <h2>or</h2>
      <% end %>
    <% end %>

    <%= submit_tag 'Create New Experience' %>

    <%= fields_for :experience do |e| %>
      <%#= e.label 'title', 'Experience Title:' %>
      <%#= e.text_field :title %><br/>
    <% end %>

  <% end %>

</fieldset>

<br/><br/>

<div class="thebasics">
  <h1>The Basics</h1>

  <div class="thebasics_body">
    <ul>
      <li class="create">
        <%= image_tag(SiteAssets[:thebasics_create]) %>
        <h2>Create an experience</h2>
        <p>
          Simply email a photo to <%= t('email.post') %> to create a new experience.
          Give it a title and snap some more photos.
          It's that simple.
        </p>
      </li>

      <li class="friends">
        <%= image_tag(SiteAssets[:thebasics_add]) %>
        <h2>Add some friends</h2>
        <p>
          This a group photo-stream after all.
          You and friends can collaborate on your experience by sending photos to your custom email address (post[##]@snappitt.com).
          Now everyone's photo's are in one place. NICE!
        </p>
      </li>

      <li class="enjoy">
        <%= image_tag(SiteAssets[:thebasics_enjoy]) %>
        <h2>Enjoy</h2>
        <p>
          After polishing off that bloody mary to cure that hangover, log on to <%= t('app.host') %> and enjoy last nights debauchery.
          Comment, share and simply enjoy your group experience.
        </p>
      </li>
    </ul>
    <br style="clear: both"/>
  </div>
</div>
<br/>