<div class="experience_header">
  <img class="icon" src="<%= @experience.creator.profile.photo_url %>" alt="<%= @experience.creator %>"/>

  <h2><%= @experience.title %></h2>

  <div class="details">
    <var><%= @experience.moments_count %></var> moments at
    <var>X</var> places with
    <var>X</var> people and
    <var>X</var> things
  </div>

  <div class="by">
    By <%= link_to(@experience.creator, user_path(@experience.creator), :title => @experience.creator.profile.realname) %> &nbsp;
    <dfn><var><%= @experience.creator.experiences_count %></var> Experiences</dfn> &bull;
    <dfn><var><%= @experience.creator.followers.count %></var> Followers</dfn>
  </div>

  <div class="stats">
    <dfn class="views" title="Views"><var><%= @experience.views %></var> Views</dfn> &bull;
    <dfn class="likes" title="Likes"><var><%= @experience.likes_count %></var> Likes</dfn> &bull;
    <dfn class="comments" title="Comments"><var><%= @experience.comments_count %></var> Comments</dfn>
  </div>
</div>

<% @experience.moments.each do |m| %>
  <div class="moment_card">
    <%= image_tag(m.photo_url(:large)) %>

    <p class="links">
      <%= link_to('Like', like_experience_moment_path(@experience, m)) %> &nbsp;
      <%= link_to('Delete', experience_moment_path(@experience, m), :method => :delete, :confirm => 'Are you sure?') if can_edit?(m.creator) %>
    </p>

    <blockquote><%= t(:lq).html_safe %><%= m.caption %><%= t(:rq).html_safe %></blockquote>

    <p>
      Created: <%= m.created_at.to_formatted_s(:mdy) %>
      <%= (' via %s' % m.source).html_safe if m.source %>
      <% if m.asset %>
        <br/>
        <%= 'Taken on %s' % m.asset.taken_at.to_formatted_s(:mdy) if m.asset.taken_at %>
        <%= ' with %s' % m.asset.device if m.asset.device %>
        <%= (' near <a href="http://maps.google.com/?q=%s,%s" target="_blank">%s, %s</a>' % [m.asset.lat, m.asset.lng, m.asset.lat, m.asset.lng]).html_safe if m.asset.lat %>
      <% end %>
    </p>

    <fieldset>
      <legend>Comments</legend>
      <%= form_for(:moment, :url => comment_experience_moment_path(@experience, m)) do %>
        <textarea name="comment" rows="2" cols="50" class="auto"></textarea><br/>
        <input type="submit" value="Add Comment"/><br/>
      <% end %>

      <table class="comment">
      <% if m.likes.count > 0 %>
      <% first_like = m.likes.first %>
        <tr>
          <td>
            <%= link_to(image_tag(first_like.user.profile.photo_url,
                                  :width => 24,
                                  :height => 24,
                                  :alt => first_like.user),
                        user_path(first_like.user)) %>
          </td>
          <td><%= link_to(first_like.user, user_path(first_like.user)) %></td>
          <td><%= m.likes.count > 1 ? (' and %s others' % (m.likes.count - 1)) : '' %> liked this moment</td>
        </tr>
      <% end %>
      <% m.comments.each do |c| %>
        <tr>
          <td>
            <%= link_to(image_tag(c.creator.profile.photo_url,
                                  :width => 24,
                                  :height => 24,
                                 :alt => c.creator),
                        user_path(c.creator)) %>
          </td>
          <td><%= link_to(c.creator, user_path(c.creator)) %></td>
          <td>"<%= c.text %>"</td>
        </tr>
      <% end %>
      </table>

    </fieldset>
    <br/><br/>
  </div>
<% end %>

<%= link_to('Add Moment', edit_experience_path(@experience)) %>
<br/><br/>
<%= link_to('Delete Experience', experience_path(@experience), :method => :delete, :confirm => 'Are you sure?') if can_edit?(@experience.creator) %>