<%= render :partial => '/experiences/header' %>

<div class="toolbar">
  <ul class="actions">
    <li>
      <%= link_to('Invite Others', new_invite_path(:experience => @experience.id), :class => 'button') %>
    </li>
    <li>
      <%= link_to('Add Moment', edit_experience_path(@experience), :class => 'button') %>
    </li>
    <li class="views">
      <ul class="view_buttons">
        <li class="grid_view">
          <a href="<%= experience_path(@experience, :grid => 1) %>" class="button grid">Grid
            <span></span>
          </a>
        </li>
        <li class="all_view">
          <a href="<%= experience_path(@experience, :normal => 1) %>" class="button all">All
            <span></span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<%= render :partial => '/experiences/view_%s' % @view %>

<% if @causes %>

<fieldset>
  <legend>Recent Activity</legend>
  <div class="activity">
    <ol>
      <% @causes.each do |action| %>
        <li><%= action.summary(Cause::Decorator.new(@user)) %></li>
      <% end %>
    </ol>
  </div>
</fieldset>

<% end %>

<iframe src="http://www.facebook.com/plugins/like.php?href=<%= u current_url %>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
