<div class="experience_header">
  <img src="<%= @experience.creator.profile.photo_url %>"/>
  <h1><%= @experience.title %></h1>
  <p>
  <strong><%= @experience.moments_count %></strong> moments at
  <strong>X</strong> place with
  <strong>X</strong> people and
  <strong>X</strong> things
  </p>

  By <%= link_to(@experience.creator, user_path(@experience.creator), :title => @experience.creator.profile.realname) %> &nbsp;
  <%= @experience.creator.experiences_count %> Experiences &bull;
  <%= @experience.creator.followers.count %> Followers<br/>
  <div class="stats">
    <strong><%= @experience.views %></strong> Views
    <strong><%= @experience.likes_count %></strong> Likes
    <strong><%= @experience.comments_count %></strong> Comments<br/>
    fb:share - twitter:share
  </div>
  <br style="clear: both"/>
</div>

<% @experience.moments.each do |m| %>
  <div class="moment_card">
    <%= image_tag(m.photo_url(:large)) %>
    <%= link_to('Delete', experience_moment_path(@experience, m), :method => :delete, :confirm => 'Are you sure?') if can_edit?(m.creator) %>
    <p>
      <%= t(:lq).html_safe %><%= m.caption %><%= t(:rq).html_safe %><br/>
      Created: <%= m.created_at.to_formatted_s(:mdy) %>
      <%= (' via %s' % m.source).html_safe if m.source %>
      <% if m.asset %>
        <br/>
        <%= 'Taken on %s' % m.asset.taken_at.to_formatted_s(:mdy) if m.asset.taken_at %>
        <%= ' with %s' % m.asset.device if m.asset.device %>
        <%= (' near <a href="http://maps.google.com/?q=%s,%s" target="_blank">%s, %s</a>' % [m.asset.lat, m.asset.lng, m.asset.lat, m.asset.lng]).html_safe if m.asset.lat %>
      <% end %>
    </p>

    <fieldset>
      <legend>Comments</legend>
      <h3>
        <%= link_to('Like', like_experience_moment_path(@experience, m)) %>
      </h3>
      <%= form_for(:moment, :url => comment_experience_moment_path(@experience, m)) do %>
        <textarea name="comment" rows="2" cols="50" class="auto"></textarea><br/>
        <input type="submit" value="Add Comment"/><br/>
      <% end %>

      <table class="comment">
      <% if m.likes.count > 0 %>
      <% first_like = m.likes.first %>
        <tr>
          <td>
            <%= link_to(image_tag(first_like.user.profile.photo_url,
                                  :width => 24,
                                  :height => 24,
                                  :alt => first_like.user),
                        user_path(first_like.user)) %>
          </td>
          <td><%= link_to(first_like.user, user_path(first_like.user)) %></td>
          <td><%= m.likes.count > 1 ? (' and %s others' % (m.likes.count - 1)) : '' %> liked this moment</td>
        </tr>
      <% end %>
      <% m.comments.each do |c| %>
        <tr>
          <td>
            <%= link_to(image_tag(c.creator.profile.photo_url,
                                  :width => 24,
                                  :height => 24,
                                 :alt => c.creator),
                        user_path(c.creator)) %>
          </td>
          <td><%= link_to(c.creator, user_path(c.creator)) %></td>
          <td>"<%= c.text %>"</td>
        </tr>
      <% end %>
      </table>

    </fieldset>
    <br/><br/>
  </div>
<% end %>

<%= link_to('Add Moment', edit_experience_path(@experience)) %>
<br/><br/>
<%= link_to('Delete Experience', experience_path(@experience), :method => :delete, :confirm => 'Are you sure?') if can_edit?(@experience.creator) %>