<div class="experience_header">
  <div class="stats">
    <dfn class="views" title="Views"><span></span><var><%= @experience.views %></var></dfn>
    <dfn class="likes" title="Likes"><span></span><var><%= @experience.likes_count %></var></dfn>
    <dfn class="comments" title="Comments"><span></span><var><%= @experience.comments_count %></var></dfn><br>
  </div>

  <fieldset class="header">
    <legend>Experience #<%= @experience.id %></legend>

    <div class="main">
      <h1><%= link_to(@experience.title, experience_path(@experience)) %></h1>

      <div class="details">
        <dfn><var><%= @experience.moments_count %></var> moments in this experience from&hellip;</dfn>
      </div>

      <div class="collaborators">
        <% @experience.collaborators.each do |c| %>
          <%= user_icon(c.user, :thumb)%>
        <% end %>
      </div>

      <div class="side">
        <div class="add">
          <span>Email more photos to</span>
          <h3><a href="mailto:<%= 'post%s@snappitt.com' % @experience.id %>"><%= 'post%s@snappitt.com' % @experience.id %></a></h3>
        </div>
        <%= link_to('Add Moment', edit_experience_path(@experience), :class => 'button') %>
        <%= link_to('Delete Experience', experience_path(@experience), :class => 'button', :method => :delete, :confirm => 'Are you sure?') if can_edit?(@experience.user) %>
      </div>

    </div>

  </fieldset>
</div>


<% cnt = @experience.moments.count %>
<% @experience.moments.each do |m| %>
  <a name="<%= m.id %>"></a>
  <div class="moment_card">
    <h2><%= m.time %></h2>
    <div class="number">moment #<%= cnt -= 1 %></div>
    <table width="100%">
      <tr>
        <td colspan="2" style="background-color: #EFEFEF">
          <div class="moment">
            <%= image_tag(m.photo_url(:large), :class => 'photo') %>
            <%= ('<img src="%s" class="published"/>' % SiteAssets[:published]).html_safe if m.published? %>
          </div>
        </td>
        <td width="308" valign="bottom" style="vertical-align: bottom">
          <div class="avatar">
            <%= link_to(image_tag(m.user.profile.photo_url(:avatar)), user_path(m.user)) %>
          </div>
          <blockquote><%= (t(:lq).html_safe << m.caption << t(:rq).html_safe) unless m.caption.blank? %></blockquote>
          <p class="metadata">
            Uploaded at <%= m.created_at.to_formatted_s(:mdy) %> by
            <%= link_to(m.user, user_path(m.user), :title => m.user.profile.realname) %>
            <%= (' via <span title="%s" class="source">%s&deg;</span>' % [m.source.name, m.source.short]).html_safe if m.source %>
            <% if m.asset %>
              <br/>
              <%= 'Taken' if m.asset.taken_at || m.asset.device || m.asset.lat %>
              <%= 'on %s' % m.asset.taken_at.to_formatted_s(:mdy) if m.asset.taken_at %>
              <%= ' with %s' % m.asset.device if m.asset.device %>
              <%= (' near <a href="http://maps.google.com/?q=%s,%s" target="_blank">%s</a>' % [m.asset.lat, m.asset.lng, m.asset.geolocation]).html_safe if m.asset.lat %>
            <% end %>
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px">
          <p class="links">
            <%= link_to('Like', like_experience_moment_path(@experience, m)) %> &nbsp;
          </p>
        </td>
        <td style="padding: 5px">
          <p class="links admin">
            <%= link_to('Publish', publish_experience_moment_path(@experience, m)) if !m.published? && can_publish? %> &nbsp;
            <%= link_to('Delete', experience_moment_path(@experience, m), :method => :delete, :confirm => 'Are you sure?') if can_edit?(m.user) || can_edit?(@experience.user) %>
          </p>
        </td>
        <td width="308">

        </td>
      </tr>
      <tr>
        <td colspan="2">

          <table class="comment">
          <% if m.likes.count > 0 %>
          <% first_like = m.likes.first %>
            <tr>
              <td>
                <%= link_to(image_tag(first_like.user.profile.photo_url,
                                      :width => 24,
                                      :height => 24,
                                      :alt => first_like.user),
                            user_path(first_like.user)) %>
              </td>
              <td><%= link_to(first_like.user, user_path(first_like.user)) %></td>
              <td class="text"><%= m.likes.count > 1 ? (' and %s others' % (m.likes.count - 1)) : '' %> liked this moment</td>
            </tr>
          <% end %>
          <% m.comments.each do |c| %>
            <tr>
              <td>
                <%= link_to(image_tag(c.user.profile.photo_url,
                                      :width => 24,
                                      :height => 24,
                                     :alt => c.user),
                            user_path(c.user)) %>
              </td>
              <td><%= link_to(c.user, user_path(c.user)) %></td>
              <td class="text">"<%= c.text %>"</td>
            </tr>
          <% end %>
          </table>

          <%= form_for(:moment, :url => comment_experience_moment_path(@experience, m)) do %>
            <textarea name="comment" rows="1" cols="44" class="auto"></textarea>
            <input type="submit" value="Add Comment"/><br/>
          <% end %>

        </td>
        <td width="308">

        </td>
      </tr>
    </table>
  </div>
<% end %>

<% if @causes %>
<div class="activity">
<h2>Recent Activity</h2>
  <ol>
    <% @causes.each do |action| %>
      <li><%= action.summary(Cause::Decorator.new(@user)) %></li>
    <% end %>
  </ol>
</div>
<% end %>
