<!DOCTYPE html>
<html>
<head>
  <title>Photo</title>
  <%= stylesheet_link_tag('application') %>
  <%= javascript_include_tag(:all) %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render :partial => '/partials/header' %>

<%= yield %>

</body>
</html>
