<!DOCTYPE html>
<html>
<head>
  <title>Photo</title>
  <%= stylesheet_link_tag('application') %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name.singularize.gsub('-', '_') %>_controller">

<div id="page_header">
  <%= render :partial => '/partials/header' %>
</div>

<div id="page_body">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= render :partial => '/partials/signup' unless user_signed_in? %>

  <div id="page_content">
    <%= yield %>
  </div>
</div>

<div id="page_footer">
  <%= render :partial => '/partials/footer' %>
</div>

</body>
</html>
